# Clangd Configuration file <https://clangd.llvm.org/>

CompileFlags:
  Add: [
    -isystem/opt/stm32cubeclt_1.19.0/GNU-tools-for-STM32/arm-none-eabi/include/c++/13.3.1,
    -isystem/opt/stm32cubeclt_1.19.0/GNU-tools-for-STM32/arm-none-eabi/include/c++/13.3.1/arm-none-eabi,
    -isystem/opt/stm32cubeclt_1.19.0/GNU-tools-for-STM32/lib/gcc/arm-none-eabi/13.3.1/include,
  ]
  Remove: -mabi
Diagnostics:
  ClangTidy:
    Remove: [modernize-use-trailing-return-type]
    Add: [performance*, readability*]
    # Add: [performance*, modernize*, readability*]